src/main/mule/sakila-sys.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <http:listener-config name="sakila-sys-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>
    <apikit:config name="sakila-sys-config" api="sakila-sys.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <flow name="sakila-sys-main">
        <http:listener config-ref="sakila-sys-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="sakila-sys-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="sakila-sys-console">
        <http:listener config-ref="sakila-sys-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="sakila-sys-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="put:\actors\(actorId):application\json:sakila-sys-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="actorId">attributes.uriParams.'actorId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
    </flow>
    <flow name="put:\customers\(customerId):application\json:sakila-sys-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="customerId">attributes.uriParams.'customerId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
    </flow>
    <flow name="put:\films\(filmId):application\json:sakila-sys-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="filmId">attributes.uriParams.'filmId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
    </flow>
    <flow name="delete:\actors\(actorId):sakila-sys-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="actorId">attributes.uriParams.'actorId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="delete-actors" doc:id="94bebcaa-b058-4703-b94d-a9dba2ac4fc7" name="delete-actors" />
    </flow>
    <flow name="delete:\customers\(customerId):sakila-sys-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="customerId">attributes.uriParams.'customerId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="delete-customers" doc:id="c60e5e30-d662-4ca3-8890-8a04be97fb46" name="delete-customers" />
    </flow>
    <flow name="delete:\films\(filmId):sakila-sys-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="filmId">attributes.uriParams.'filmId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="delete-films" doc:id="b10700db-f714-4330-b36e-b52d6214b7ec" name="delete-films" />
    </flow>
    <flow name="get:\actors:sakila-sys-config">
        <flow-ref doc:name="get-actors" doc:id="76a62ac3-fb87-428c-995e-0a03d9d9ea9f" name="get-actors" />
    </flow>
    <flow name="get:\customers:sakila-sys-config">
        <flow-ref doc:name="get-customers" doc:id="83e7ed5f-1b14-4ecf-8219-7bb80ed2fe79" name="get-customers" />
    </flow>
    <flow name="get:\films:sakila-sys-config">
        <flow-ref doc:name="get-films" doc:id="7ca81edd-7ccd-4874-9b25-f7f44b19e07d" name="get-films" />
    </flow>
    <flow name="get:\actors\(actorId):sakila-sys-config">
        <ee:transform doc:name="actorId">
            <ee:variables>
                <ee:set-variable variableName="actorId"><![CDATA[attributes.uriParams.'actorId']]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="get-actor" doc:id="8c1115d0-76c5-40f7-921d-ff5f8dc9bdd8" name="get-actor" />
    </flow>
    <flow name="get:\customers\(customerId):sakila-sys-config">
        <ee:transform doc:name="customerId">
            <ee:variables>
                <ee:set-variable variableName="customerId"><![CDATA[attributes.uriParams.'customerId']]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="get-customer" doc:id="4295e78c-013a-4463-9e70-727abb5a40a6" name="get-customer" />
    </flow>
    <flow name="get:\films\(filmId):sakila-sys-config">
        <ee:transform doc:name="filmId">
            <ee:variables>
                <ee:set-variable variableName="filmId"><![CDATA[attributes.uriParams.'filmId']]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="get-film" doc:id="8fd29c59-a909-40da-a488-e127cd873d18" name="get-film" />
    </flow>
    <flow name="post:\actors:application\json:sakila-sys-config">
        <ee:transform doc:name="payload" doc:id="251cb0f2-ef7a-41f4-b165-ce9d3a1d0660">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <flow-ref doc:name="create-actor" doc:id="5314ccca-d601-4a47-b049-a791b398f94f" name="create-actor" />
    </flow>
    <flow name="post:\customers:application\json:sakila-sys-config">
        <ee:transform doc:name="payload">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <flow-ref doc:name="create-customer" doc:id="6308d0a3-4e89-44c2-9f8d-ecc60b37fa36" name="create-customer" />
    </flow>
    <flow name="post:\films:application\json:sakila-sys-config">
        <ee:transform doc:name="payload">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <flow-ref doc:name="create-film" doc:id="6bfb892b-ce5b-449d-acfb-d60341a7c0cc" name="create-film" />
    </flow>
</mule>
